.avaAndName {
	margin-left: 30px;
}
.login {
	display: flex;
	align-items: center;
	gap: 10px;
}
.avatar {
	width: 28px;
	height: 28px !important;
}
.dropdown {
	position: absolute;
	top: 44px;
	right: 0;
	left: 0;
	background: var(--d-grey);
	display: none;
	border-radius: 4px;
	z-index: 10;
	border: 1px solid var(--grey);
}
.dropdown.toggled {
	display: block;
}
.dropdownItem {
	padding: 15px;
	display: block;
}
.dropdownItem:hover {
	background: var(--grey);
}
