.form input {
	background: rgba(72, 72, 76, .5);
	border: none;
	border-radius: 4px;
	padding: 15px;
	margin: 10px;
}
.form label {
	margin: 12px;
}
.flex {
	display: flex;
	gap: 40px;
	padding: 20px 0;
}
.noticeBlock {
	padding: 20px 16px;
}
.success {
	background: rgba(86, 211, 99, 0.05);
	color: var(--green);
	border-bottom: 1px solid var(--green);
}
.error {
	color: var(--red);
	border-bottom: 1px solid var(--red);
	background: rgba(230, 76, 45, 0.1);
}
.noticeIcon {
	margin: 0 12px 0 0;
}
.fieldsPlaceholder {
	margin-left: 20px;
	width: 40%;
}
.fieldsPlaceholder > div, .fieldsPlaceholder input:not(.submit){
	width: 100%;
}
.field {
	margin-bottom: 10px;
}
.submit {
	background: var(--grey) !important;
	margin: 31px 10px !important;
}