.header {
  background: url(https://s-sd.ru/files/zoom-effect-cap-with-site-using-css3/img/cd-intro-background.jpg);
  background-position: center center;
  min-height: 300px;
  border-radius: 5px;
}
