.addPost {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}
.topLine {
	margin: 9px 20px;
}
.text {
	background: transparent;
	border: 0;
	margin: 20px 20px 0 20px;
	min-height: 60px;
	caret-color: #fff;
	resize: none;
	color: #fff;
	font-family: var(--default-fonts);
}
.text::-webkit-input-placeholder {
	color: #fff;
}
.submit {
	padding: 7px 16px 8px;
	margin: 13px 20px;
	cursor: pointer;
	text-align: center;
	background: 0 0;
	background-color: var(--grey);
	border: 0;
	border-radius: 4px;
	color: #fff;
	align-self: flex-end;
}
