.messages {
	border-radius: 0 5px 0 0;
	height: 70vh;
	overflow-y: auto;
	padding: 10px 20px 20px;
	background: url(https://s-sd.ru/files/zoom-effect-cap-with-site-using-css3/img/cd-intro-background.jpg);
	background-position: center center;
}
.inner {
	position: relative;
	display: flex;
	gap: 15px;
	justify-content: flex-end;
	flex-direction: column;
}
.inner div {
	background: var(--grey);
	align-self: flex-start;
	padding: 15px 20px;
	border-radius: 20px 20px 20px 0;
}
.messages .right {
	align-self: flex-end;
	border-radius: 20px 20px 0 20px;
}
.messageText {
	box-shadow: inset 1px 0px 3px 0px rgb(0 0 0 / 15%);
	background: var(--d-grey);
	padding: 0 0 0 20px;
	border: 0;
	width: calc(100% - 69px);
	height: 50px;
	font-family: var(--default-fonts);
}
.messageText::-webkit-input-placeholder {
	color: #fff;
}
.messageText::-moz-placeholder {
	color: #fff;
}
.messageText:-ms-input-placeholder {
	color: #fff;
}
.messageText::-ms-input-placeholder {
	color: #fff;
}
.messageText::placeholder {
	color: #fff;
}
.messagesItems {
	position: relative;
}
.send {
	position: absolute;
	background: transparent;
	bottom: 0;
	right: 0;
	border: 0;
	height: 50px;
	width: 68px;
	cursor: pointer;
}
.scroll {
	position: absolute;
	bottom: -20px;
	opacity: 0;
}
