.messages {
	border-radius: 0 5px 0 0;
	height: 70vh;
	overflow-y: auto;
	padding: 10px 20px 20px;
	background: url(https://s-sd.ru/files/zoom-effect-cap-with-site-using-css3/img/cd-intro-background.jpg);
	background-position: center center;
}
.inner {
	position: relative;
	display: flex;
	gap: 15px;
	justify-content: flex-end;
	flex-direction: column;
}
.messageBody {
	background: var(--grey);
	align-self: flex-start;
	padding: 10px 15px;
	border-radius: 10px 10px 10px 0;
}
.message {
	display: flex;
	align-items: flex-end;
	gap: 15px;
}
.right {
	align-self: flex-end;
	flex-direction: row-reverse;
}
.right .messageBody {
	border-radius: 10px 10px 0 10px;
}
.left {
	align-self: flex-start;
}
.messageText {
	box-shadow: inset 1px 0px 3px 0px rgb(0 0 0 / 15%);
	background: var(--d-grey);
	padding: 0 0 0 20px;
	border: 0;
	width: calc(100% - 69px);
	height: 50px;
	font-family: var(--default-fonts);
}
.messageText::-webkit-input-placeholder {
	color: #fff;
}
.messageText::-moz-placeholder {
	color: #fff;
}
.messageText:-ms-input-placeholder {
	color: #fff;
}
.messageText::-ms-input-placeholder {
	color: #fff;
}
.messageText::placeholder {
	color: #fff;
}
.messagesItems {
	position: relative;
}
.scroll {
	position: absolute;
	bottom: -20px;
	opacity: 0;
}
.small {
	height: 35px;
	width: 35px;
}
.name {
	font-size: 14px;
	margin: 0;
}
.messageContent {
	margin: 0;
}