.follow {
	padding: 7px 16px 8px;
	cursor: pointer;
	text-align: center;
	background: 0 0;
	background-color: var(--blue);
	border: 0;
	border-radius: 4px;
	color: #fff;
}
.unfollow {
	padding: 7px 16px 8px;
	cursor: pointer;
	text-align: center;
	background: 0 0;
	background-color: var(--red);
	border: 0;
	border-radius: 4px;
	color: #fff;
}
