.status:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.1);
}
.status {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
.input {
	display: block;
	color: #000000;
}
.hash {
	color: var(--accent);
	font-family: cursive;
}
