.header {
	height: 42px;
}
.headerContainer {
	display: flex;
	align-items: center;
}
.header img {
	height: 34px;
}
.left {
	margin-left: auto;
}
.login,
.users {
	text-decoration: none;
	color: #fff;
	margin-left: 30px;
}
