.header {
	height: 42px;
	background: var(--d-grey);
}
.headerContainer {
	display: flex;
	align-items: center;
}
.header img {
	height: 34px;
}
.left {
	margin-left: auto;
	display: flex;
	align-items: center;
	position: relative;
}
