.sidebar {
  padding: 0 var(--sidebar-padding) 0 0;
  height: max-content;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: var(--sidebar-padding) 0 var(--sidebar-padding)
    var(--sidebar-padding);
}
.sidebar a:first-of-type {
  border-radius: 5px 5px 0 0;
}
.sidebar a:last-of-type {
  border-radius: 0 0 5px 5px;
}
.sidebar a.active,
.sidebar a:hover {
  background: var(--grey);
}
.topLine {
  margin: 0 calc(0% - var(--sidebar-padding)) 0 0;
}
