.friend {
	padding: 20px;
	position: relative;
	width: 80px;
	overflow-wrap: break-word;
}
.friend a {
	text-decoration: none;
	color: #fff;
}
.avatar {
	height: 80px;
	width: 80px;
	background: url(/src/img/socket.jpg);
	background-size: 80px;
}
.name {
	text-align: center;
}
.unfollow::before,
.follow::before {
	position: absolute;
	right: 10px;
	padding: 5px 10px;
	border-radius: 50%;
	cursor: pointer;
}
.unfollow::before {
	content: "-";
	background: #dc3545;
}
.follow::before {
	content: "+";
	background: #007bff;
}
