.friend {
	padding: 20px;
	position: relative;
	width: 80px;
	overflow-wrap: break-word;
}
.friend a {
	text-decoration: none;
	color: #fff;
}
.avatar {
	height: 80px;
	width: 80px;
	background-size: 80px;
}
.name {
	text-align: center;
}
.round:disabled {
	opacity: 0.2;
}
.round {
	position: absolute;
	right: 12px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	color: #fff;
}
.unfollow {
	/* background: #d03449; */
	/* background: #eb3941; */
	background: var(--red);
}
.follow {
	background: var(--blue);
}
.unfollow::before {
	content: "-";
}
.follow::before {
	content: "+";
}
